.find-container input {
  width: 80%;
  margin-right: 10px;
  height: 40px;
  border-radius: 4px;
  /* margin: 0 40%; */
  color: #222;
  outline: none;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #1e1c1c;
}

.find-container .btn-find {
  width: 20%;
  color: aliceblue;
  background-color: rgb(6, 187, 200);
  border: 0;
  padding: 0 !important;
  border-radius: 4px;
}

.find-container {
  max-width: 300px;
  margin: 0 auto;
}

.find-container input::placeholder {
  color: #797575;
}

.container-tracker {
  background-color: #f5f5f5;
}

#map {
  width: 90%;
  margin: 0 5%;
}
